* {
    padding: 0px;
    margin: 0px;
}



.btn {
    position: fixed;
    height: 40px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -20px;
    background-color: orange;
    color: white;
    box-shadow: 0px 5px 7px rgba(200, 200, 200, .8);
    line-height: 40px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    animation: cute .5s;
}

@keyframes cute {
    0%,
    100% {
        transform: scale(1, 1);
    }

    25%,
    75% {
        transform:scale(1.1, .9);
    }

    50% {
        transform: scale(.9, 1.1);
    }
}