* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #282c34;
}

.container {
    height: 30px;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 100%;
    height: 100%;
    position: relative;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-left: 5px;
    background-color: #282c34;
    color: #61dafb;
    caret-color: #61dafb;
}
input::placeholder {
    color: rgba(97, 218, 251, .5);
}

span {
    position: absolute;
    content: "";
    display: block;
    background-color: #61dafb;
    transition: transform .1s ease-in-out;
}

.top,
.bottom {
    left: 0px;
    right: 0px;
    height: 2px;

}

.left, 
.right {
    top: 0px;
    bottom: 0px;
    width: 2px;
    transform: scaleY(0);
}

.top {
    top: 0px;
    transform: scaleX(0);
    transform-origin: left center;
    transition-delay: .2s;
}
.left {
    left: 0px;
    transform-origin: bottom center;
    transition-delay: .3s;
}
.bottom {
    bottom: 0px;
}
.right {
    right: 0px;
    transform-origin: top center;
    transition-delay: .1s;
}

input:focus ~ .right {
    transform: scaleY(1);
    transform-origin: bottom center;
}
input:focus ~ .left {
    transform: scaleY(1);
    transform-origin: top center;
}
input:focus ~ .top {
    transform: scaleX(1);
    transform-origin: right center;
}

