* {
    padding: 0px;
    margin: 0px;
}

.container {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: black;
    cursor: pointer;
    z-index: 2;
}

.line {
    background-color: #fff;
    display: block;
    position: absolute;
    left: 5px;
    width: 14px;
    height: 2px;
    transition: .3s ease;

}

.top {
    top: 4px;
}

.middle {
    top: 10px;
}

.bottom {
    top: 16px;
}


.container-hover .line {
    background-color: #87daff;
}
.container-hover .top {
    width: 7px;
    left: 12px;
    top: 7px;
    transform: rotate(45deg);
}
.container-hover .bottom {
    width: 7px;
    left: 12px;
    top: 13px;
    transform: rotate(-45deg);
}

.container-click .line {
    background-color: #87daff;
}
.container-click .top {
    width: 14px;
    left: 5px;
    top: 12px;
    transform: rotate(-45deg);
}
.container-click .middle {
    opacity: 0;
}
.container-click .bottom {
    width: 14px;
    left: 5px;
    top: 12px;
    transform: rotate(45deg);
}


#root {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #222;
    left: -500px;
    transition: .5s ease;
}



